.site-footer{
    background: #131313;
    padding-bottom: 30px;

    .title-footer{
        font-size: 15px;
        margin-top: 40px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .coordonnes{
        color: #FFF;
        font-weight: 100;
        font-size: 12px;
        line-height: 22px;
    }

    .share-list{
        margin-top: 20px;
        svg{
            fill: #FFF;

        }
    }
}
